body {
  background-color: #f6ecff;
  font-family: "Itim";
}

.App {
  text-align: center;
}

h1 {
  font-family: "Licorice";
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  margin-top: 3%;
}

h2 {
  font-family: "Itim";
  font-weight: 400;
  font-size: 1.3rem;
  position: relative;
  bottom: 12px;
  margin-bottom: 10px;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  gap: 15px;
}

.circle1,
.circle2,
.circle3 {
  border-radius: 50%;
  border: solid 0.5px black;
  width: 15px;
  height: 15px;
  animation: pulseFade 1.5s infinite ease-in-out;
}

.circle1 {
  background-color: #fbf0b2;
  animation-delay: 0s;
}

.circle2 {
  background-color: #ffc7ea;
  animation-delay: 0.3s;
}

.circle3 {
  background-color: #caedff;
  animation-delay: 0.5s;
}

@keyframes pulseFade {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.Add {
  color: rgb(30, 29, 29);
  border: solid 1px black;
  padding: 10px 10px;
  width: 80px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #fbf0b2;
  transition: transform 0.1s ease, box-shadow 0.1s ease,
    background-color 0.2s ease;
  font-family: "Itim";
  font-weight: 400;
  font-size: 0.9rem;
}
.Add:hover {
  background-color: #fff8d2;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Add:active {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 20px auto;
}

.my-confirm-btn, .my-cancel-btn, .my-ok-button {
  color: rgb(30, 29, 29);
  border: solid 1px black;
  padding: 10px 10px;
  width: 70px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-family: "Itim";
  box-shadow: none !important;
  filter: none !important;
}

.my-confirm-btn {
  background-color: #fbf0b2 !important;
}

.my-confirm-btn:hover {
  background-color: #fff8d2 !important;
  box-shadow: none !important;
  filter: none !important;
  filter: brightness(1) !important; 
  box-shadow: none !important;
  opacity: 1 !important;
}

.my-cancel-btn, .my-ok-button {
  background-color: #ffc7fd !important;
}

.my-cancel-btn:hover, .my-ok-button:hover {
  background-color: #ffc7fd !important;
}


.my-cancel-btn:hover, .my-confirm-btn:hover, .my-ok-button:hover, .swal2-confirm:hover {
  opacity: 1 !important;
  transform: scale(0.95);
  box-shadow: none !important;
  filter: none !important;
  filter: brightness(1.1) !important;
  box-shadow: none !important;
}


.my-cancel-btn:active,
.my-ok-button:active {
  background-color: #ffc7ea !important;
  box-shadow: none !important; 
  filter: none !important; 
  transform: none !important;
  filter: brightness(1.4) !important;

}

 .my-confirm-btn:active {
  background-color: #fbf0b2 !important;
  box-shadow: none !important;
  filter: none !important;
  transform: none !important;
  filter: brightness(1.3) !important;
}

.large-alert {
  border-radius: 30px;
}


@media (max-width: 768px) {
  .cards-container {
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
  }
}
